<template>
	<section >
		<button @click="abrir_menu" type="button" class="un-boton">menu</button>

		<div class="gbp-menu">
			<button @click="cerrar_menu" type="button" class="btn-cerrar-menu">Cerrar  menu</button>

			<div class="buscador" >
				<input v-model="buscar" type="search" placeholder="Escribir para buscar ...">
			</div>
			<div class="" style="height:85vh; overflow: overlay;">
				<span v-if="menu.length === 0" style="color:rgba(255,255,255,.75)">No hay resultados</span>
				<div v-for="data,i in menu" class="icon-cont" :title="data.nombre">
					<img :src="data.img" class="icon-img" alt="data.nombre">
					<p class="icon-nombre">{{data.nombre}}</p>
				</div>
			</div>


		</div>


	</section>
</template>

<script>
export default {
	name: 'home',
	components: {

	},
	data(){
		return {
			buscar:'',
			menu_data:[
				{
					nombre:'Reportes',
					img:'/icons/bars-chart.svg',
				},
				{
					nombre:'Presencial mundial',
					img:'/icons/maps-and-flags.svg',
				},
				{
					nombre:'Tiendas',
					img:'/icons/online-store.svg',
				},
				{
					nombre:'Despacho',
					img:'/icons/trucking.svg',
				},
				{
					nombre:'Oportunidades',
					img:'/icons/contract.svg',
				},
				{
					nombre:'Documentos',
					img:'/icons/office-material.svg',
				},
				{
					nombre:'Archivos públicos',
					img:'/icons/office-material -2.svg',
				},
				{
					nombre:'Ajustes',
					img:'/icons/men.svg',
				},
				{
					nombre:'Agenda',
					img:'/icons/wall-calendar.svg',
				},
				{
					nombre:'Pasaportes',
					img:'/icons/id-card.svg',
				},
				{
					nombre:'Metas y propositos',
					img:'/icons/dart-board.svg',
				},
				{
					nombre:'Usuarios',
					img:'/icons/network.svg',
				},
				{
					nombre:'Alertas y promociones',
					img:'/icons/protest.svg',
				},
				{
					nombre:'Portafolio de servicios',
					img:'/icons/luggage.svg',
				},
				{
					nombre:'Ahorros',
					img:'/icons/dollar-symbol.svg',
				},
				{
					nombre:'Encuestas',
					img:'/icons/check-box.svg',
				},
				{
					nombre:'Buscar y remplazar',
					img:'/icons/looking.svg',
				},
				{
					nombre:'Adjuntos',
					img:'/icons/attachments.svg',
				},
				{
					nombre:'Organigrama',
					img:'/icons/offices.svg',
				},
			]
		}
	},
	computed:{
		menu(){
			return this.menu_data.filter(a=> a.nombre.toLowerCase().match(this.buscar.toLowerCase()));
		}
	},
	methods:{
		abrir_menu(e){
			console.log('cliek en abrir menu');
			let el = document.querySelector('.gbp-menu');
			el.classList.add('menu-activo')
		},
		cerrar_menu(e){
			let el = document.querySelector('.gbp-menu');
			el.classList.remove('menu-activo')
		}
	}
}
</script>
<style lang="scss" scoped>
.menu-activo{
	visibility: visible !important;
	opacity: 1 !important;
	z-index: 1200;


	.icon-cont{
		animation-name: a-entrada !important;
		animation-duration: .45s;
		animation-delay: .2s;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}
}
.btn-cerrar-menu{
	position: absolute;
	top: 0px;
	right: 0px;
	background: red;
	height: 50px;
	width: 50px;
	border: none;
	outline: none;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
	border-bottom-left-radius: 4px;
	color: white;

	&:hover{
		cursor: pointer;
	}

	.icon-cont{
		animation-name: a-salida !important;
		animation-duration: .79s;
		// animation-delay: .4s;
		// animation-iteration-count: infinite;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}
}
.gbp-menu{
	position: fixed;
	display: flex;
	visibility: hidden;
	opacity: 0;
	top: 0px;
	justify-content: center;
	// align-items: center;
	align-content: center;
	flex-wrap: wrap;
	height: 100vh;
	width: 100%;
	background-color: rgba(1,23,89, .65);
	transition-duration: .6s;
	z-index: 0;
	padding-bottom: 30px;

	.icon-cont{
		position: relative;
		left:0px;
		bottom: 0px;
		display: inline-block;
		padding: 5px;
		height: 5em;
		width: 5em;
		color: white;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		transition-duration: .35s;




		&:hover{
			transform: scale(1.1);
			text-shadow: 0 0 5px rgba(0,0,0,1);
			background-color: rgba(255,255,255,.35);
			border-radius: 4px;
			cursor: pointer;
		}

		img{
			width: 100%;
			text-shadow: 0 0 5px rgba(0,0,0,1);
		}
		.icon-nombre{
			margin:0px;
			font-size: 0.785em;
			overflow:hidden;
			white-space:nowrap;
			text-overflow: ellipsis;
			text-shadow: 0 0 5px rgba(0,0,0,.35);
		}
	}


}

@keyframes a-entrada {
	// 0% { position: absolute; bottom:0px; left:0px; background: red; transition-duration: .8s}
	// 100% {position: relative; top:0px; }

	0% {
		left: -100%;
		bottom: 0;
		transform: translateY(100vh) rotate(0deg) ;
		height:0px;
		width: 0px;
		overflow: overlay !important;

	}
	100% {
		left: 0px;
		bottom: 0px;
		transform: rotate(90deg);
	}

}

.buscador{
	height:15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;

	input{
		width: 75%;
		padding: 5px;
		height: 35px;
		border-radius: 25px;
		border: none;
		outline: none;
		color: white;
		text-align: center;
		background: rgba(255,255,255,0.25);
		&::placeholder{
			color: rgba(255,255,255,.75);
		}
	}
}
</style>
